{% extends 'partials/base.html.twig' %}

{# {% block content %}
    {{ page.content }}
    {% for p in page.collection %}
		<div class="news-summary">
			{% for image in p.media.images %}
				<div class="toggler">
			   		{{ image.html }}
			   	</div>
			{% endfor %}
			{{ p.summary }}
		</div>
	{% endfor %}
{% endblock %} #}

{% block content %}
	<div class="component-wrap">
	    {{ page.content }}
		<div class="red-section">
			<h3 class="red-section-text">Learn more about xDCI infrastructure below...</h3>
		</div>
		<div class="component-row">
		{% for p in page.collection %}
			<div class="component-summary">
				{% for image in p.media.images %}
					<div class="toggler">
				   		{{ image.html }}
				   	</div>
				{% endfor %}
				<div class="toggle_cont">
					{{ p.summary }}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}